@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
$primary-font: 'Vina Sans', sans-serif;

$header-background-color: #ffffff;
$header-text-color: #ff0000;
$header-link-color: #000000;
$header-mobile-text-color: #ffcc00;
$header-hover-text-color: #199325;



.header {
  background-color: $header-background-color;
  color: $header-text-color;

  display: grid;
  grid-template-columns: 75px 1fr 1fr;
  align-items: center;

  padding: 20px 0px;

  &__title {
    font-family: $primary-font;
    font-size: 3em;

    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    
    & a {
        text-decoration: none;
        color: $header-mobile-text-color;
      }
  }

  &__image {
    width: 100px;
    height: 100px;
  }

  &__nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;

    a {
      text-decoration: none;
      color: $header-link-color;

      font-family: $primary-font;
      font-size: 1.5em;
      cursor: pointer;

      &:hover {
        color: $header-hover-text-color;

        text-shadow:
            2px 2px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
      }
    }
  }
}

/* mobile */
@media (max-width: 600px) {
  .header {
    background-color: $header-background-color;
    color: $header-text-color;

    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;

    padding: 10px 0px;

    &__title {
      font-size: 3em;

      & a {
        text-decoration: none;
        color: $header-mobile-text-color;
      }
    }

    &__nav {
      grid-column: 1 / 3;
      align-items: center;
    }
  }
}

/* small screen */
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
      background-color: $header-background-color;
      color: $header-text-color;
  
      display: grid;
      grid-template-columns: 200px 1fr;
      align-items: center;
  
      padding: 5px 0px;
  
      &__title {
        font-size: 4em;
      }
  
      &__nav {
        grid-column: 1 / 3;
      }
    }
}

/* full screen */
@media (min-width: 1024px) {}