.set {
  height: 100vh;

  &__content {
    padding-bottom: 50px;

    &--title {
      font-size: 2em;
      font-weight: 700;
      margin: 0 auto;
    }

    &--subtitle {
      font-size: 1.25em;
      font-weight: 500;
      color: #858585;
      margin: 0 auto;
      padding-left: 10px;
    }

    &--data {
      display: grid;
      grid-template-columns: auto 100px;

      & a {
        cursor: pointer;
      }
    }

    &--image {
      max-height: 500px;
      margin: 0 auto;

      width: 100%;
      height: auto;
      object-fit: cover;

      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    &--details {
      display: grid;
      grid-template-rows: repeat(4, 1fr);

      & div {
        align-self: center;
        justify-self: center;
        text-align: center;
      }

      &-heading {
        color: #65b2be;
        font-size: 1.25em;
        font-weight: 500;
        font-variant: small-caps;
      }

      &-data {
        color: #65b2be;
        font-size: 2em;
        font-weight: 700;
      }
    }

    &--description {
      font-size: 1em;
      font-weight: 400;
      line-height: 1.5;
      margin: 0 auto;
      padding: 20px;
    }

    &--link {
      margin: 40px 20px;
      padding: 10px 20px;

      color: #fff;
      background-color: #199325;
      text-decoration: none;
      text-align: center;
      border-radius: 10px;

      font-size: 1em;
      font-weight: 700;
      font-variant: small-caps;
      cursor: pointer;
    }
  }
}

/* mobile */
@media (max-width: 600px) {
  .set {
    margin: 0 20px;

    &__content {
      &--data {
        grid-template-columns: 1fr;
      }

      &--details {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px 0;
      }

      &--link {
        margin: 20px 0;
        display: block;
        width: 90%;
      }
    }
  }
}

/* small screen */
@media (min-width: 768px) and (max-width: 1024px) {
  .set {
    margin: 0 100px;
  }
}

/* full screen */
@media (min-width: 1024px) {
  .set {
    margin: 0 300px;
  }
}