.topic{
  height: 100vh;

  &__content {
    font-size: 1.25em;
    padding-bottom: 20px;

    & h1 {
        font-size: 1.5em;
    }

    &--title {
      margin: 0 auto;
      padding: 10px 0;
      font-size: 1.5em;
      font-weight: 700;
    }

    &--subtitle {
      margin: 0 auto;
      padding: 10px 0;
      font-size: 1.05em;
      font-weight: 700;
    }

    &--date {
      font-size: 0.75em;
      color: #858585;
    }

    &--text {
      font-size: 0.9em;
    }

    &--image {
      & img {
        width: 100%;
      }
    }

    &--unordered-list {
      font-size: 0.9em;
      margin: 10px;;
    }
  }
}

/* mobile */
@media (max-width: 600px) {
  .topic {
      margin: 0 20px;
  }
}

/* small screen */
@media (min-width: 768px) and (max-width: 1024px) {
  .topic {
      margin: 0 100px;
  }
}

/* full screen */
@media (min-width: 1024px) {
  .topic {
      margin: 0 300px;
  }
}
